.cover {
    background: linear-gradient(186deg, rgba(232,242,242,1) 16%, rgba(221,240,240,1) 45%, rgba(228,244,244,1) 81%);
}

.card-container {
    /* background: linear-gradient(rgba(140, 246, 234, 0.8), rgba(71, 73, 216, 0.8), rgba(140, 246, 234, 0.8)); */
    padding: 4rem;
}

.card-content {
    background-color: white;
    border: 5px solid #f5e2e2;
    box-shadow: 0 0 10px rgb(43, 43, 46);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1300px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 2rem;
    box-sizing: inherit;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.font-family {
    font-family:Georgia, 'Times New Roman', Times, serif;
}